<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"wide","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|xx-large","bottom":"var:preset|spacing|mini","right":"var:preset|spacing|medium","left":"var:preset|spacing|medium"},"blockGap":"var:preset|spacing|medium"}},"layout":{"type":"default"}} -->
<main class="wp-block-group alignwide" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--xx-large);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--mini);padding-left:var(--wp--preset--spacing--medium)"><!-- wp:group {"align":"full","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull"><!-- wp:post-terms {"term":"category","style":{"typography":{"fontStyle":"normal","fontWeight":"500"}},"fontSize":"xx-small"} /-->

<!-- wp:post-title {"level":1,"textColor":"dark","fontSize":"large"} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"10px"},"elements":{"link":{"color":{"text":"var:preset|color|dark"}}}},"textColor":"dark","layout":{"type":"flex","flexWrap":"nowrap"},"fontSize":"small"} -->
<div class="wp-block-group has-dark-color has-text-color has-link-color has-small-font-size"><!-- wp:post-author {"showBio":false,"style":{"typography":{"fontStyle":"normal","fontWeight":"400"},"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"margin":{"top":"0","right":"0","bottom":"0","left":"0"}},"layout":{"selfStretch":"fill"}},"textColor":"dark","fontSize":"x-small"} /-->

<!-- wp:post-date {"style":{"typography":{"fontStyle":"normal","fontWeight":"400"},"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"margin":{"top":"0","right":"0","bottom":"0","left":"0"}},"layout":{"selfStretch":"fit","flexSize":null}},"textColor":"dark","fontSize":"xx-small"} /--></div>
<!-- /wp:group -->

<!-- wp:post-featured-image {"style":{"color":{"duotone":"unset"},"spacing":{"margin":{"top":"var:preset|spacing|medium","right":"0","bottom":"var:preset|spacing|medium","left":"0"},"padding":{"top":"0","right":"0","bottom":"0","left":"0"}}}} /--></div>
<!-- /wp:group -->

<!-- wp:post-content {"align":"wide","style":{"typography":{"lineHeight":1.6}},"layout":{"type":"constrained"},"fontSize":"small"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"border":{"radius":"5px"},"spacing":{"margin":{"top":"var:preset|spacing|large","bottom":"0"},"blockGap":"var:preset|spacing|mini"}},"textColor":"dark","layout":{"type":"flex","justifyContent":"center"},"fontSize":"x-small"} -->
<div class="wp-block-group has-dark-color has-text-color has-x-small-font-size" style="border-radius:5px;margin-top:var(--wp--preset--spacing--large);margin-bottom:0"><!-- wp:post-terms {"term":"post_tag","style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"margin":{"top":"0","right":"0","bottom":"0","left":"0"}},"layout":{"selfStretch":"fit","flexSize":null}},"textColor":"dark","fontSize":"xx-small"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|small","bottom":"var:preset|spacing|xx-large","right":"var:preset|spacing|medium","left":"var:preset|spacing|medium"},"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"layout":{"inherit":true,"type":"constrained"},"fontSize":"xx-small"} -->
<div class="wp-block-group alignfull has-xx-small-font-size" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--small);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--xx-large);padding-left:var(--wp--preset--spacing--medium)"><!-- wp:comments -->
<div class="wp-block-comments"><!-- wp:comments-title {"style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"margin":{"top":"0","right":"0","bottom":"0","left":"0"}}},"textColor":"dark","fontSize":"small"} /-->

<!-- wp:comment-template {"style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"margin":{"top":"0","right":"0","bottom":"0","left":"0"}}},"fontSize":"x-small"} -->
<!-- wp:columns {"isStackedOnMobile":false,"style":{"spacing":{"margin":{"top":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium"},"padding":{"top":"0","right":"0","bottom":"0","left":"0"}},"border":{"width":"0px","style":"none","radius":"0px"}}} -->
<div class="wp-block-columns is-not-stacked-on-mobile" style="border-style:none;border-width:0px;border-radius:0px;margin-top:var(--wp--preset--spacing--medium);margin-bottom:var(--wp--preset--spacing--medium);padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:column {"width":"40px"} -->
<div class="wp-block-column" style="flex-basis:40px"><!-- wp:avatar {"size":40,"style":{"border":{"radius":"20px"}}} /--></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:comment-author-name {"fontSize":"xx-small"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex","justifyContent":"left"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:comment-date {"style":{"elements":{"link":{"color":{"text":"var:preset|color|dark"}}},"typography":{"textDecoration":"none"}},"textColor":"dark","fontSize":"xxx-small"} /-->

<!-- wp:comment-edit-link {"fontSize":"xxx-small"} /--></div>
<!-- /wp:group -->

<!-- wp:comment-content {"fontSize":"small"} /-->

<!-- wp:comment-reply-link {"fontSize":"xx-small"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:comment-template -->

<!-- wp:comments-pagination {"textColor":"dark","layout":{"type":"flex","justifyContent":"center"},"fontSize":"xx-small"} -->
<!-- wp:comments-pagination-previous {"fontSize":"xx-small"} /-->

<!-- wp:comments-pagination-numbers {"fontSize":"xx-small"} /-->

<!-- wp:comments-pagination-next {"fontSize":"xx-small"} /-->
<!-- /wp:comments-pagination -->

<!-- wp:post-comments-form {"style":{"spacing":{"padding":{"top":"var:preset|spacing|mini","right":"var:preset|spacing|mini","bottom":"var:preset|spacing|mini","left":"var:preset|spacing|mini"},"margin":{"top":"0","right":"0","bottom":"0","left":"0"}}},"fontSize":"x-small"} /--></div>
<!-- /wp:comments --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"spacing":{"blockGap":"0","padding":{"top":"0","bottom":"var:preset|spacing|small","left":"var:preset|spacing|medium","right":"var:preset|spacing|medium"},"margin":{"top":"0","bottom":"0"}},"border":{"width":"0px","style":"none","radius":"0px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="border-style:none;border-width:0px;border-radius:0px;margin-top:0;margin-bottom:0;padding-top:0;padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--small);padding-left:var(--wp--preset--spacing--medium)"><!-- wp:separator {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|xx-large"}}},"backgroundColor":"main-dark"} -->
<hr class="wp-block-separator has-text-color has-main-dark-color has-alpha-channel-opacity has-main-dark-background-color has-background" style="margin-bottom:var(--wp--preset--spacing--xx-large)"/>
<!-- /wp:separator -->

<!-- wp:query {"queryId":1,"query":{"perPage":"3","pages":"3","offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false},"align":"wide"} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"layout":{"type":"grid","columnCount":3},"fontSize":"x-small"} -->
<!-- wp:columns {"verticalAlignment":"center"} -->
<div class="wp-block-columns are-vertically-aligned-center"><!-- wp:column {"verticalAlignment":"center","width":"33%"} -->
<div class="wp-block-column is-vertically-aligned-center" style="flex-basis:33%"><!-- wp:post-featured-image {"isLink":true,"height":"120px","style":{"color":[]}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","width":"67%"} -->
<div class="wp-block-column is-vertically-aligned-center" style="flex-basis:67%"><!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"left"}} -->
<div class="wp-block-group"><!-- wp:post-title {"isLink":true,"style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}},"typography":{"fontStyle":"normal","fontWeight":"600"},"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"dark","fontSize":"small"} /-->

<!-- wp:post-date {"textColor":"main-accent","fontSize":"xx-small"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->